[submodule "to_sql"]
	path = to_sql
	url = https://github.com/vanvuvuong/to_sql.git
[submodule "codium_configuration"]
	path = codium_configuration
	url = https://github.com/vanvuvuong/codium_configuration.git
