[submodule "to_sql"]
	path = to_sql
	url = https://github.com/vanvuvuong/to_sql.git
[submodule "codium_configuration"]
	path = codium_configuration
	url = https://github.com/vanvuvuong/codium_configuration.git
[submodule "nla-python"]
	path = nla-python
	url = https://github.com/vanvuvuong/nla-python.git
[submodule "telegram-frontendd"]
	path = telegram-frontendd
	url = git@github.com:vanvuvuong/telegram-frontendd.git
